html, body {
  font-family: 'Roboto', sans-serif;
  font-size:14px;
  height:100%;
  margin: 0px;
  padding: 0px;
}

::-webkit-scrollbar {
    display: none;
}

/* Toolbar area */

.menu {
  background-color: transparent;
  border: none;
  height: 38px;
  margin: 16px;
  width: 36px;
}

md-toolbar {
  background-color: #212121;
}
md-toolbar h1 {
  margin: auto;
  color: white;
  font-weight: 100;
}

md-toolbar .social-icons-container{
  height: 45px;
  margin: 0 auto 5px;

}
md-toolbar .social-icons {
  padding: 10px;
  position: relative;
  margin: 0 5px;
  top: 25%;
  transform: translateY(-50%);
  color: white;
  display: inline;
  text-decoration: none;
  width: 45px;
  text-align: center;
  border-radius: 50px;
  padding: 8px;
  text-align: center;
  background-clip: padding-box;
   -webkit-border-radius: 50%; */
   border-radius: 50%;
   box-shadow: rgba(0, 0, 0, 0.4) 0 2px 5px;
   -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
   transition: all 0.3s ease-out;

}
md-toolbar .social-icons.facebook{
  background-color: #3b5998;
}

md-toolbar .social-icons.linkedin{
  background-color: #0077b5;
}


md-toolbar i:hover,
md-toolbar i:active {
  opacity: .8;
  box-shadow: 0 25px 55px 0 rgba(0, 0, 0, 0.21), 0 16px 28px 0 rgba(0, 0, 0, 0.22);
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
md-sidenav {
  background-color: #212121;
  color: white;
  height: 100%;
  position: fixed;
  width: 220px;
}


@media only screen and (max-width: 1999px) and (min-width: 1500px) {
  md-card {
    width: calc((100vw - 400px) / 4) !important;
    height: calc(((100vw - 320px) / 5.33 ) + 60px) !important;
    overflow:hidden !important;
    float: left;
  }
}

@media only screen and (max-width: 1499px) and (min-width: 1000px) {
  md-card {
    width: calc((100vw - 375px) / 3) !important;
    height: calc(((100vw - 300px) / 4 ) + 60px) !important;
    overflow: hidden !important;
    float: left;
  }
}

@media only screen and (max-width: 999px) and (min-width: 800px) {
  md-card {
    width: calc((100vw - 280px) / 2) !important;
    height: calc(((100vw - 280px) / 2.66 ) + 60px) !important;
    overflow: hidden !important;
  }
}

@media only screen and (max-width: 800px) {
  md-card {
    width: auto !important;
    height: auto !important;
    max-width: 400px;
    overflow: hidden !important;
    float: none;
  }
}

md-card:hover {
  box-shadow: 0 6px 20px #AFAFAF;
}

/* Sidenav area */

md-list .md-button {
  color: inherit;
  font-weight: 500;
  text-align: left;
  width: 100%;
}
  md-list .md-button.selected {
    color: #03a9f4;
  }

  md-sidenav  md-list {
    padding: 0px 0px 8px 0px;
  }

  md-sidenav  md-list md-list-item {
    /*border-top: 1px groove #ccc;*/
    border-bottom: 1px groove #ccc;
  }

  md-sidenav  md-list md-list-item:hover {
    background: #555;
  }

/* Primary content area */

#content {
  overflow: hidden;
}

#content  {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 5px;
  margin-left: 220px;
}

#content .md-button.contact {
  background-color: transparent;
  border: none;
  width: 48px;
  height: 48px;
  margin: 8px auto 16px 0;
  position: absolute;
  top: 10px;
  right: 40px;
}

#content md-icon.avatar {
  margin-top: 10px;
}

#content .md-button.contact > md-icon {
  fill:black;
  width:36px;
  height:36px;
}

md-button.menuBtn > md-icon {
  fill:white;
  width:24px;
  height:24px;
}

#content .md-button.contact:active > md-icon {
  background-color: #dadada;
  border-radius: 75%;
  padding:4px;
  transition: all 100ms ease-out 30ms;
}

#content img {
  display: block;
  height: auto;
  max-width: 500px;
}

/* Utils */

.content-wrapper {
  position: relative;
}

/* Typography support coming in 0.8.0 */

md-toolbar h1 {
  font-size: 1.250em;
  font-weight: 400;
}

.avatar {
  position: relative;
  width: 128px;
  height: 128px;
  border: 1px solid #ddd;
  border-radius: 50%;
  display: inline-block;
  overflow: hidden;
  margin: 0px;
  vertical-align: middle;
  zoom:0.70;
  transform: translateZ(0);
  -webkit-transform: scale(0.70);
  -moz-transform:scale(0.70);
}


md-bottom-sheet  md-icon {
  margin-right:20px;
}

span.name {
  font-weight: bold;
  font-size:1.1em;
  padding-left:5px;
}
